name: Continuous Integration

on:
  push:
    branches: [ master, setup-ci ]
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'

jobs:

  build:
    name: Verify code gen, vet, unit test, build, and build images
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: ^1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Verify code gen, go vet, go test
        run: ./test/test.sh

      - name: go build, docker build
        run: VERSION=$GITHUB_SHA OUTPUT_TAR_GZ=true ./build/build.sh

      - name: Upload images as artifact
        uses: actions/upload-artifact@v4
        with:
          name: images
          path: images

  e2e:
    name: End-to-end test
    needs: build
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        k8s_version: [ "1.27", "1.28", "1.29", "1.30", "1.31" ]
        experimental: [ false ]
        # workflow succeeds even if experimental job fails,
        # but commit/PR check/status still appears as failure overall,
        # so 1.22 job is commented out for now, cf.
        # - https://github.community/t/continue-on-error-allow-failure-ui-indication/16773/14
        # - https://github.com/actions/toolkit/issues/399
    #        include:
    #          - k8s_version: "1.22"
    #            experimental: true
    steps:

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Download image artifacts
        uses: actions/download-artifact@v3
        with:
          name: images
          path: images

      - name: docker load
        run: |
          ./build/load.sh

      - name: Install kubectl, helm, kind
        run: ./test/e2e/install_dependencies.sh

      - name: End-to-end test
        run: VERSION=$GITHUB_SHA K8S_VERSION=${{ matrix.k8s_version }} ./test/e2e/e2e.sh

      - name: Archive cluster dump
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: cluster-dump-${{ matrix.k8s_version }}
          path: cluster-dump
